.ticketCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
}

.ticket {
  clip-path: url(#ticket-path);
  margin-bottom: 0;
  filter: brightness(0.8);
  background-color: lightgray;
  background-image: url(/images/money.svg);
  background-repeat: no-repeat;
  background-position: -30px 45px;
}

.ticketNumber {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
}
